html,body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif, 'Segoe UI' !important;
}

img,li,.userCard {
    cursor: pointer;
}

.material-icons-round {
    cursor: pointer;
    font-family: 'Material Icons Round' !important;
    background-color: transparent;
    border-radius: 24rem;
    padding: 0.5rem;
}

.material-icons-round:hover {
    cursor: pointer;
    font-family: 'Material Icons Round' !important;
    background-color: #00000022;
    border-radius: 24rem;
    padding: 0.5rem;
}

.i-icon{
    padding: 0.4rem;
    background-color: transparent;
    border-radius: 99rem;
}

.i-icon:hover{
    cursor: pointer;
    padding: 0.4rem;
    background-color: #d3d3d5;
    border-radius: 99rem;
}

@tailwind base;
@tailwind components;
@tailwind utilities;