markdown{
    display: block;
    font-size: 11pt;
}

markdown h1{
    font-size: 24pt;
    font-weight: bold;
    padding: 1rem 0;
}

markdown h2{
    font-size: 22pt;
    font-weight: bold;
    padding: 0.75rem 0;
}

markdown h3{
    font-size: 20pt;
    font-weight: bold;
    padding: 0.5rem 0;
}

markdown h4{
    font-size: 18pt;
    font-weight: bold;
    padding: 0.25rem 0;
}

markdown h5{
    font-size: 16pt;
    font-weight: bold;
    padding: 0 0;
}

markdown h6{
    font-size: 14pt;
    font-weight: bold;
    padding: 0 0;
}

markdown ul{
    list-style: disc;
    margin: 0 0 0 2rem;
    padding: 0;
}

markdown ol{
    list-style: decimal;
    margin: 0 0 0 2rem;
    padding: 0;
}

markdown p{
    display: block;
    margin: 0.25rem 0;
}

markdown blockquote{
    padding: 0.25rem 0.25rem 0.25rem 1rem;
    border-left: 4px solid #EEEEEE;
}

markdown blockquote:where([theme="dark"], [theme="dark"] *){
    border-left-color: #262626;
    color: rgba(255, 255, 255, 0.5);
}

markdown a{
    color: rgb(var(--color-primary));
    text-decoration: underline;
}

markdown a:where([theme="dark"], [theme="dark"] *){
    color: rgb(var(--color-on-primary));
}

markdown p code{
    background-color: #EEEEEE;
    font-size: 90%;
    padding: 0.1rem 0.3rem;
    border-radius: 4px;
}

markdown p code:where([theme="dark"], [theme="dark"] *){
    background-color: #262626;
}

markdown p code{
    margin: 0 0.25rem;
}

markdown pre{
    background-color: #f6f8fa;
    font-size:10pt;
    padding: 1.5rem 1rem 1rem 1rem;
    border-radius: 6px;
    margin: 0.8rem 0;
    overflow-x: auto;
}

markdown pre:where([theme="dark"], [theme="dark"] *, [hl="dark"], [hl="dark"] *){
    background-color: #262626;
}

markdown pre>code{
    position: relative;
}

markdown pre>code::before{
    content: attr(data-lang);
    position: absolute;
    top: -1.5rem;
    color: darkgray;
}

markdown table{
    min-width: fit-content;
    max-width: 100%;
}

markdown tbody{
    display: table-row-group;
}

markdown thead{
    display: table-header-group;
    background-color: #f6f8fa;
}

markdown thead:where([theme="dark"], [theme="dark"] *){
    background-color: #262626;
}

markdown tr th,markdown tr td{
    border: 1px solid #EEEEEE;
    padding: 0.5rem 1rem;
    display: table-cell;
    vertical-align: middle;
}

:is(markdown tr th,markdown tr td):where([theme="dark"], [theme="dark"] *){
    border-color: #404040;
}

markdown .emoji span{
    display: inline-block;
}

markdown * {
    overflow-wrap: break-word;
}

markdown.shrink-content::before {
    content: '';
    background-image: linear-gradient(180deg, transparent 60%, white);
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}

markdown.shrink-content:where([theme="dark"], [theme="dark"] *)::before{
    background-image: linear-gradient(180deg, transparent 40%, #121212);
}
